{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Kategorie'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Kategorie'|trans }}</h1>
    <br>

    {% if pagination is defined and pagination.items|length %}

        <div>
            <h2>
                <a href="{{ url('category_create') }}" title="{{ 'action.create'|trans }}">
                    {{ 'utwórz kategorię'|trans }}
                </a>
            </h2>
        </div>
        <br>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'utworzono'|trans, 'Created') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'zaktualizowano'|trans, 'Updated') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'tytuł'|trans, 'Title') }}</th>
                <th>{{ ' '|trans }}</th>
                <th>{{ ' '|trans }}</th>
                <th>{{ ' '|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.createdAt|date('Y/m/d') }}</td>
                    <td>{{ category.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'pokaż kategorię'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'edytuj'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'usuń'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'pusta lista'|trans }}
        </p>
    {% endif %}

{% endblock %}