{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Kategoria'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'Kategoria'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'tytuł'|trans }}</dt>
            <dd>{{  category.title }}</dd>
            <dt>{{ 'utworzono'|trans }}</dt>
            <dd>{{ category.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'zaktualizowano'|trans }}</dt>
            <dd>{{ category.updatedAt|date('Y/m/d') }}</dd>
        </dl>
        <p>
        </p>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'powrót do listy kategorii'|trans }}">
                {{ 'powrót do listy kategorii'|trans }}
            </a>
        </p>

    {% else %}
        <p>
            {{ 'nie znaleziono kategorii'|trans }}
        </p>
    {% endif %}
{% endblock %}