{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.Category'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'label.Category'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  category.title }}</dd>
            <dt>{{ 'label.createdAt'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updatedAt'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
        </dl>

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}