{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.masterpieces'|trans }}
{% endblock %}


{% block body %}
	<h1>{{ 'label.masterpieces'|trans }}</h1>
	<br>

    {# utwórz dzieło #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>
            <h3>
                <a class="nav-link p-2" href="{{ url('masterpiece_create') }}" title="{{ 'action.create'|trans }}">
                    {{ 'action.create'|trans }}
                </a>
            </h3>
        </div>
    {% endif %}

        <br>

    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center text-black">
            {{ knp_pagination_render(pagination) }}
        </div>
        {# tabela #}
        <table class="table table-hover">
            {# nagłówki tabeli #}
            <thead class="thead-dark text-black">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.createdAt'|trans, 'masterpiece.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updatedAt'|trans, 'masterpiece.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'masterpiece.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.author'|trans, 'masterpiece.author') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.filter'|trans, 'category.title') }}</th>
                <th>{{ ' ' }}</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <th>{{ ' ' }}</th>
                <th>{{ ' ' }}</th>
                {% endif %}
            </tr>
            </thead>
            {# zawartość tabeli #}
            <tbody>
            {% for masterpiece in pagination.items %}
                <tr>
                    <td>{{ masterpiece.createdAt|format_date('long') }}</td>
                    <td>{{ masterpiece.updatedAt|format_date('long') }}</td>
                    <td>{{ masterpiece.title }}</td>
                    <td>{{ masterpiece.author }}</td>
                    <td>
                        <a href="{{ url('masterpiece_index', {'filters.category_id' : masterpiece.category.id}) }}" title="{{ masterpiece.category.title }}">
                            {{ masterpiece.category.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('masterpiece_show', {id: masterpiece.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                    </td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>
                        <a href="{{ url('masterpiece_edit', {id: masterpiece.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('masterpiece_delete', {id: masterpiece.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}
