{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Dzieło'|trans({'%id%': masterpiece.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'Dzieło'|trans({'%id%': masterpiece.id|default('')}) }}</h1>
    <br>
    {% if masterpiece is defined and masterpiece|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'utworzono'|trans }}</dt>
            <dd>{{ masterpiece.createdAt|format_date('long') }}</dd>
            <dt>{{ 'zaktualizowano'|trans }}</dt>
            <dd>{{ masterpiece.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'tytuł'|trans }}</dt>
            <dd>{{  masterpiece.title }}</dd>
            <dt>{{ 'autor'|trans }}</dt>
            <dd>{{  masterpiece.author }}</dd>
            <dt>{{ 'kategoria'|trans }}</dt>
            <dd>{{  masterpiece.category.title }}</dd>
            <dt>{{ 'opis'|trans }}</dt>
            <dd>{{  masterpiece.description }}</dd>
        </dl>
        <p>
            <a href="{{ url('masterpiece_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'Powrót do listy dzieł'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'Nie znaleziono dzieła'|trans }}
        </p>
    {% endif %}
{% endblock %}