<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
                rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<section>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <h3 class="d-inline-flex link-body-emphasis text-decoration-none">
                Katalog obrazów</h3>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 " href={{ url('masterpiece_index') }}>Dzieła</a></li>
                <li><a class="nav-link px-2" href={{ url('category_index') }}>Kategorie</a></li>
            </ul>

            <div class="col-md-3 text-end">
                {#Welcome ... #}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <p>Welcome {{ app.user.userIdentifier }}!</p>
                {% else %}
                    {# login#}
                    <a class="btn btn-primary me-2" href="{{ path('app_login') }}" role="button">Sign in</a>
                {% endif %}
                {# edit account button #}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-primary me-2" href="{{ url('user_edit', {id: app.user.id}) }}" role="button" title="{{ 'Edit account'|trans }}" class="{{ 'nav-item nav-link' }}">
                    {{ 'Edit account'|trans }}
                </a>
                {% endif %}
                {# logout button #}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-outline-primary me-2" href="{{ path('app_logout') }}" role="button">Sign out</a>
                {% endif %}
            </div>
        </header>
    </div>
</section>

<main role="main" class="container-fluid">
    <div class="container-fluid">
        {% include 'default/_flash_messages.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</main>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>